{% extends 'base.html.twig' %}

{% block title "Apie projektą" %}

{% block body %}

<h1>Apie projektą</h1>
<p>
    Projektas buvo daromas NFQ akademijoje. Projekto tikslas, įtvirtinti žinias, gautas akademijos metu.
</p>

{% endblock %}