{% extends 'base.html.twig' %}

{% block title pageTitle %}

{% block body %}
    <div class="row">
    {% for item in products %}
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top img-responsive center-block" src="{{ item.image }}" alt="{{ item.title }}">
                <div class="card-block">
                    <h4 class="card-title">{{ item.title }}</h4>
                    <p class="card-text"></p>
                    <span class="price pull-left">{{ item.price }}</span>
                    <a href="#" class="pull-right btn btn-primary">Plačiau</a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
